name: Build LaTeX document

on:
  push:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    env:
      # Set the root directory of your latex project here:
      WORKDIR: ./template_thesis

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          working_directory: ${{ env.WORKDIR }}

      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: ${{ env.WORKDIR }}/main.pdf
